name: APK Build

on:
  workflow_dispatch:
  pull_request: { }
  push:
    branches: [ main, develop ]

# Enrich gradle.properties for CI/CD
env:
  GRADLE_OPTS: -Dorg.gradle.jvmargs="-Xmx3072m -Dfile.encoding=UTF-8 -XX:+HeapDumpOnOutOfMemoryError -XX:MaxMetaspaceSize=1g" -Dkotlin.daemon.jvm.options="-Xmx2560m" -Dkotlin.incremental=false
  CI_GRADLE_ARG_PROPERTIES: --stacktrace -PpreDexEnable=false --max-workers 2 --no-daemon

jobs:
  debug:
    name: Build debug APKs (${{ matrix.target }})
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'
    strategy:
      fail-fast: false
      matrix:
        target: [ Fdroid ]
    # Allow all jobs on develop. Just one per PR.
    concurrency:
      group: ${{ github.ref == 'refs/heads/develop' && format('integration-tests-develop-{0}-{1}', matrix.target, github.sha) || format('build-debug-{0}-{1}', matrix.target, github.ref)  }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
        with:
          # https://github.com/actions/checkout/issues/881
          ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}
      - name: Use JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '21'
      - name: config local use
        run: |
          find /home/runner/ -iname "build.gradle" -type f|while read F;do sed -i 's/applicationId "im.vector.app"/applicationId "com.tencent.rtx"/g' $F;done
          find /home/runner/ -iname "build.gradle" -type f|while read F;do sed -i 's/"app_name", "Element"/"app_name", "腾讯通rtx"/g' $F;done
          find /home/runner/ -iname "config.xml"  -type f|while read F;do sed -i 's#https://matrix.org#https://tim.ipv9.win#g' $F;done
          echo ${{ secrets.SIGNING_KEY }} | base64 --decode > /home/runner/work/element-android/element-android/keystore.jks
          find /home/runner/ -iname "gradle.properties"  -type f|while read F;do sed -i 's#pathTo.keystore#/home/runner/work/element-android/element-android/keystore.jks#g' $F;done
          find /home/runner/ -iname "gradle.properties"  -type f|while read F;do sed -i "s#signing.element.storePassword=Secret#signing.element.storePassword=${{ secrets.KEY_STORE_PASSWORD }}#g" $F;done
          find /home/runner/ -iname "gradle.properties"  -type f|while read F;do sed -i "s#signing.element.keyId=Secret#signing.element.keyId=${{ secrets.keyId }}#g" $F;done
          find /home/runner/ -iname "gradle.properties"  -type f|while read F;do sed -i "s#signing.element.keyPassword=Secret#signing.element.keyPassword=${{ secrets.KEY_STORE_PASSWORD }}#g" $F;done
          cat /home/runner/work/element-android/element-android/gradle.properties |grep element
      - name: Configure gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/develop' }}
      - name: Assemble ${{ matrix.target }} debug apk
        run: ./gradlew assemble${{ matrix.target }}Release $CI_GRADLE_ARG_PROPERTIES
      - name: Upload ${{ matrix.target }} debug APKs
        uses: actions/upload-artifact@v4
        with:
          name: vector-${{ matrix.target }}-Release
          path: |
            vector-app/build/outputs/apk/*/release/*.apk

