name: APK Build

on:
  workflow_dispatch:
  pull_request: { }
  push:
    branches: [ main, develop ]

# Enrich gradle.properties for CI/CD
env:
  GRADLE_OPTS: -Dorg.gradle.jvmargs="-Xmx3072m -Dfile.encoding=UTF-8 -XX:+HeapDumpOnOutOfMemoryError -XX:MaxMetaspaceSize=1g" -Dkotlin.daemon.jvm.options="-Xmx2560m" -Dkotlin.incremental=false
  CI_GRADLE_ARG_PROPERTIES: --stacktrace -PpreDexEnable=false --max-workers 2 --no-daemon

jobs:
  debug:
    name: Build debug APKs (${{ matrix.target }})
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/main'
    strategy:
      fail-fast: false
      matrix:
        target: [ Fdroid ]
        #arch: [arm64-v8a,universal,x86,armeabi-v7a,x86_64 ]
    # Allow all jobs on develop. Just one per PR.
    concurrency:
      group: ${{ github.ref == 'refs/heads/develop' && format('integration-tests-develop-{0}-{1}', matrix.target, github.sha) || format('build-debug-{0}-{1}', matrix.target, github.ref)  }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
        with:
          # https://github.com/actions/checkout/issues/881
          ref: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}
      - name: Use JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin' # See 'Supported distributions' for available options
          java-version: '21'
      - name: config local use
        run: |
          find /home/runner/ -iname "build.gradle" -type f|while read F;do sed -i 's/applicationId "im.vector.app"/applicationId "com.tencent.rtx"/g' $F;done
          find /home/runner/ -iname "build.gradle" -type f|while read F;do sed -i 's/enable true/isEnable = !gradle.startParameter.taskNames.any { it.toLowerCase().contains("bundle") }/g' $F;done
          find /home/runner/ -iname "build.gradle" -type f|while read F;do sed -i 's/"app_name", "Element"/"app_name", "腾讯通rtx"/g' $F;done
          find /home/runner/ -iname "config.xml"  -type f|while read F;do sed -i 's#https://matrix.org#https://tim.ipv9.win#g' $F;done
          echo ${{ secrets.SIGNING_KEY }} | base64 --decode > /home/runner/work/element-android/element-android/keystore.jks
          find /home/runner/ -iname "gradle.properties"  -type f|while read F;do sed -i 's#pathTo.keystore#/home/runner/work/element-android/element-android/keystore.jks#g' $F;done
          find /home/runner/ -iname "gradle.properties"  -type f|while read F;do sed -i 's#signing.element.storePassword=Secret#signing.element.storePassword=123456#g' $F;done
          find /home/runner/ -iname "gradle.properties"  -type f|while read F;do sed -i 's#signing.element.keyId=Secret#signing.element.keyId=${{ secrets.keyId }}#g' $F;done
          find /home/runner/ -iname "gradle.properties"  -type f|while read F;do sed -i 's#signing.element.keyPassword=Secret#signing.element.keyPassword=123456#g' $F;done
          cat /home/runner/work/element-android/element-android/vector-app/build.gradle | grep -i enable
      - name: Configure gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/develop' }}
      - name: Assemble ${{ matrix.target }} debug apk
        run: ./gradlew assemble${{ matrix.target }}Release signFdroidReleaseBundle -Dorg.gradle.jvmargs="-Xmx8g -XX:MaxMetaspaceSize=1g" $CI_GRADLE_ARG_PROPERTIES
      - name: Upload ${{ matrix.target }} debug APKs
        uses: actions/upload-artifact@v4
        with:
          name: vector-${{ matrix.target }}-arm64-v8a.zip
          path: |
            vector-app/build/outputs/apk/*/release/*arm64-v8a*.apk
          compression-level: 9
  #    - name: Find APKs
  #      run: |
  #        APK_FILE="$(find /home/runner/work/element-android/ -name '*.apk')"
  #        echo "APK_FILE=$APK_FILE" >> $GITHUB_ENV
  #        echo "APK_FILE_NAME=$(basename $APK_FILE)" >> $GITHUB_ENV 2>/dev/null

 #     - name: Upload APKs
 #       uses: actions/upload-artifact@v4
 #       with:
 #         name: ${{ env.APK_FILE_NAME }}
 #         path: ${{ env.APK_FILE }}
 #         compression-level: 9

  push_to_canary_group:
    #if: github.event_name == 'push'
    runs-on: ubuntu-latest
    name: Push to Canary Group
    needs: debug
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Find Artifacts
        run: |
          echo "APK_FILE_CANARY=$(find artifacts -name '*.apk')" >> $GITHUB_ENV

      - name: Post to Canary Group
        env:
          GROUP_ID: ${{ secrets.GROUP_ID }}
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CANARY: ${{ env.APK_FILE_CANARY }}
          COMMIT_MESSAGE: |+
            New push to GitHub
            ```
            ${{ github.event.head_commit.message }}
            ```by `${{ github.event.head_commit.author.name }}`
            See commit detail [here](${{ github.event.head_commit.url }})
        run: |
          ESCAPED=$(python3 -c 'import json,os,urllib.parse; print(urllib.parse.quote(json.dumps(os.environ["COMMIT_MESSAGE"])))')
          cd ${{ github.workspace }}
          curl -v "https://api.telegram.org/bot${BOT_TOKEN}/sendMediaGroup?chat_id=${GROUP_ID}&media=%5B%7B%22type%22:%22document%22,%20%22media%22:%22attach://canary%22,%22parse_mode%22:%22MarkdownV2%22,%22caption%22:${ESCAPED}%7D%5D" -F canary="@${CANARY}"
